footer {
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
footer p {
    font-size: 1.1rem;
    color: var(--black);
}
footer p a {
    font-weight: 700;
    text-decoration: none;
    transition: .2s all;
    color: var(--black);
}
footer p a:hover {
    color: var(--blue);
}
.items-contact {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.items-contact i {
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s all;
}
.items-contact i:hover {
    color: var(--blue);
}