@import './col.css';

:root {
    --black: #191E29;
    --blue: #273B74;
    --green: #3DB288;
    --light-black: #2D3247;
    --white: #eeeeee;
}
body {
    background-image: linear-gradient(90deg, var(--green), var(--white));
}
.container-home {
    padding: 6rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
    /* background-image: linear-gradient(90deg, var(--green), var(--white)); */
}
/* circles */
.photo, .linkedin, .cv, .github {
    border: 2px solid var(--blue);
    border-radius: 50%;
}
.photo {
    width: 15rem;
    height: 15rem;
}
.circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.social-media {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.social-media a{
    color: var(--blue);
    text-decoration: none;
    background-color: var(--white);
}
.social-media a i {
    font-size: 1.6rem;
}
.linkedin, .cv, .github {
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--blue);
}
/* text */
.text {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text .name {
    font-size: 1.5rem;
}
.text .name span {
    color: var(--blue);
    font-weight: 700;
}
.fa-hand {
    color: var(--blue);
}
.text .title {
    font-size: 2.5rem;
    line-height: 1.25;
}
.text button {
    border: 2px solid var(--blue);
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: .2s all;
    width: 10rem;
}
.text .description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.item-sm,
.btn-contactame {
    transition: .3s all;
}
.item-sm:hover,
.btn-contactame:hover {
    background-color: var(--blue);
    color: var(--white);
}
/* tooltip */
#tooltip {
    position: relative;
}
#tooltipText {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 7px;

    white-space: nowrap;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
}
#tooltipText::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -65%;
    transform: translateX(-50%) rotateX(180deg);
    border: 15px solid;
    border-color: var(--black) #0000 #0000 #0000;
}
#tooltip:hover #tooltipText {
    top: 130%;
    visibility: visible;
    opacity: 1;
}
/* footer home */
.footer-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.footer-home p {
    font-size: 1.2rem;
}
.footer-home .arrow-next {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 50%;
    background-color: var(--blue);
    cursor: pointer;
    transition: .2s all;
}
.footer-home .arrow-next:hover {
    color: var(--blue);
    background-color: var(--white);
}
/* responsive */
@media screen and (max-width: 767px) {
    .container-home {
        gap: 0;
    }
    .text {
        padding: 4rem 0;
    }
    .footer-home {
        margin-top: 0;
    }
}
.photo {
    overflow: hidden;
}
.photo img {
    width: 100%;
}