.container-sobre-mi {
    padding: 0 2rem 2rem 2rem;
}
.container-sobre-mi article {
    text-align: justify;
}
.container-sobre-mi article:nth-child(1) {
    padding-bottom: 2rem;
}
.container-sobre-mi article:nth-child(2) {
    padding-right: 1rem;
}
.container-sobre-mi article:nth-child(3) {
    padding-left: 1rem;
}
.container-sobre-mi article h2 {
    display: inline;
    padding-left: .5rem;
}
.container-sobre-mi article i {
    font-size: 1.5rem;
    color: var(--blue);
}
.container-sobre-mi article p {
    color: var(--black);
    margin-top: .5rem;
}
.sm-hobbie1 a,
.sm-hobbie2 a {
    color: var(--blue);
    font-weight: 700;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .container-sobre-mi article:nth-child(1) {
        padding-bottom: 0;
    }
    .container-sobre-mi article:nth-child(2) {
        padding-right: 0;
        padding-top: 2rem;
    }
    .container-sobre-mi article:nth-child(3) {
        padding-left: 0;
        padding-top: 2rem;
    }
}
/* footer sobre mi */
.footer-sm {
    padding-top: 4rem;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-sm p {
    font-size: 1.2rem;
    font-weight: 700;
}